<!DOCTYPE html>
<html lang="en-GB"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${title}"></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
</head>
<body class="text-bg-light">
<header class="mb-1" th:fragment="header(title)">
  <nav
      th:class="'navbar navbar-expand-lg mb-2 ' + ${#strings.contains(title, 'Admin') ? 'bg-warning' : 'bg-primary-subtle'}"
      sec:authorize="isAuthenticated()">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Sporty Shoes Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Orders</a>
          </li>
          <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/products">Products</a></li>
              <li><a class="dropdown-item" href="/admin/product-categories">Product Categories</a>
              </li>
              <li><a class="dropdown-item" href="/admin/orders">Orders</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="row">
      <div class="col text-center">
        <h1 th:text="${title}">Sporty Shoes Shop</h1>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="my-3" th:fragment="alerts(resultSuccess, resultDanger, resultInfo)">
      <div class="alert alert-success alert-dismissible m-1" role="alert"
           th:if="${resultSuccess != null}">
        <span th:text="${resultSuccess}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="alert alert-danger alert-dismissible m-1" role="alert"
           th:if="${resultDanger != null}">
        <span th:text="${resultDanger}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="alert alert-info alert-dismissible m-1" role="alert"
           th:if="${resultInfo != null}">
        <span th:text="${resultInfo}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    </div>
  </main>

  <footer th:fragment="footer">
    <br><br>
    <div class="row">
      <div class="col text-center">
        <p>Free delivery on all orders. &copy; 2024 Sporty Shoes Shop.</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
  </footer>
</body>
</html>