<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{fragments/base :: head('Sporty Shoes Shop - Admin - Products')}"></head>
<body class="text-bg-light">
<header th:replace="~{fragments/base :: header('Sporty Shoes Shop - Admin - Products')}"></header>
<script>
  window.onload = function () {
    filterTable('product', 'products');
  }
</script>
<main>
  <div class="container ">
    <div
        th:replace="~{fragments/base :: alerts(${resultSuccess}, ${resultDanger}, ${resultInfo})}"></div>
    <hr th:unless="${allProducts.isEmpty()}">
    <div class="row mb-3">
      <div class="col-2">
        <a th:href="@{/admin/products/new}" class="btn btn-lg btn-primary w-100 mt-1">New
          Product</a>
      </div>
      <div class="col">
        <div class="form-floating" th:unless="${allProducts.isEmpty()}">
          <input id="inputSearch" type="text" class="form-control"
                 placeholder="Search for products..."
                 aria-label="Search"
                 onkeyup="filterTable('product', 'products')" autofocus>
          <label for="inputSearch">Search for products...</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating" th:unless="${allProducts.isEmpty()}">
          <select class="form-select" id="inputCategory" aria-label="Product Category"
                  onchange="filterTable('product', 'products')">
            <option value="none"
                    th:selected="${param.category == null || param.category.isEmpty() || !#lists.contains(allCategoryNames, param.category.toString())}">
              All
            </option>
            <option th:each="c:${allCategoryNames}" th:value="${c}"
                    th:text="${c}"
                    th:selected="${!(param.category == null || param.category.isEmpty()) && c == param.category.toString()}"></option>
          </select>
          <label for="inputCategory">Product Category</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="table-responsive" th:unless="${allProducts.isEmpty()}">

          <table class="table table-hover" id="tableToFilter">
            <caption
                th:text="${allProducts.size() == 1 ? '1 product' : allProducts.size() + ' products'}"></caption>
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Stock</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="p:${allProducts}"
                th:data-category="${p.getCategory().getName()}"
                th:data-search="${p.getName().toLowerCase()} + ' ' + ${p.getDescription().toLowerCase()}">
              <th th:text="${p.getId()}" scope="row"></th>
              <th th:text="${p.getName()}" scope="row"></th>
              <td><span class="badge text-bg-secondary" th:if="${p.getCategory() != null}"
                        th:text="${p.getCategory().getName()}"></span></td>
              <td th:text="${p.getDescription()}" class="text-break"></td>
              <td th:text="${#numbers.formatCurrency(p.getPrice())}"></td>
              <td th:text="${p.getStock()}"
                  th:class="${p.getStock() < 1 ? 'text-danger' : ''}"></td>
              <td>
                <div class="btn-group btn-group-sm" role="group"
                     aria-label="Edit and delete actions">
                  <a th:href="'/admin/products/' + ${p.getId()}"
                     class="btn btn-primary">Edit</a>
                  <a th:href="'/admin/products/' + ${p.getId()} + '/delete'" class="btn btn-danger">Delete</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

<footer th:replace="~{fragments/base :: footer}"></footer>
</body>
</html>