<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head
    th:replace="~{fragments/base :: head('Sporty Shoes Shop - Admin - ' + ${product != null ? 'Edit' : 'Create'} + ' Product')}"></head>
<body class="text-bg-light">
<header
    th:replace="~{fragments/base :: header('Sporty Shoes Shop - Admin - ' + ${product != null ? 'Edit' : 'Create'} + ' Product')}"></header>

<main>
  <div class="container ">
    <div
        th:replace="~{fragments/base :: alerts(${resultSuccess}, ${resultDanger}, ${resultInfo})}"></div>
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-lg-6">
        <form>
          <div class="row m-3">
            <div class="col input-group">
              <span class="input-group-text" id="productIdLabel">ID</span>
              <input type="text" class="form-control" placeholder="will be generated automatically"
                     th:value="${product != null ? product.getId() : ''}"
                     aria-label="ID" aria-describedby="productIdLabel" disabled>
            </div>
          </div>
          <div class="row m-3">
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="productNameLabel" placeholder="Name"
                       th:value="${product != null ? product.getName() : ''}" maxlength="250"
                       required>
                <label for="productNameLabel" class="form-label">Name</label>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col">
              <div class="form-floating">
                <textarea style="height: 120px" class="form-control" id="productDescriptionLabel"
                          placeholder="Description"
                          th:text="${product != null ? product.getDescription() : ''}"
                          maxlength="990"></textarea>
                <label for="productDescriptionLabel" class="form-label">Description</label>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col">
              <div class="form-floating">
                <input type="number" class="form-control" id="productPriceLabel"
                       placeholder="Price £"
                       th:value="${product != null ? product.getPrice() : ''}" min="0" step="0.01">
                <label for="productPriceLabel" class="form-label">Price £</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="number" class="form-control" id="productStockLabel" placeholder="Stock"
                       th:value="${product != null ? product.getStock() : ''}" min="0" step="1">
                <label for="productStockLabel" class="form-label">Stock</label>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
</main>

<footer th:replace="~{fragments/base :: footer}"></footer>
</body>
</html>