<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head th:replace="~{fragments/base :: head('Sporty Shoes Shop - Admin - Edit Product')}"></head>
<body class="text-bg-light">
<header
    th:replace="~{fragments/base :: header('Sporty Shoes Shop - Admin - Edit Product')}"></header>

<main>
  <div class="container ">
    <div
        th:replace="~{fragments/base :: alerts(${resultSuccess}, ${resultDanger}, ${resultInfo})}"></div>
    <div class="row">
    </div>
  </div>
</main>

<footer th:replace="~{fragments/base :: footer}"></footer>
</body>
</html>