<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{fragments/base :: head('Sporty Shoes Shop - Change Password')}"></head>
<body class="text-bg-light">

<header th:replace="~{fragments/base :: header('Sporty Shoes Shop - Change Password')}"></header>

<main>
  <div class="container ">
    <div
        th:replace="~{fragments/base :: alerts(${resultSuccess}, ${resultDanger}, ${resultInfo})}"></div>
    <hr>
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-lg-6">
        <p>Enter your existing password and a new password.</p>
        <form th:method="post" th:action="@{/change-password}">
          <div class="mb-3 form-floating">
            <input type="email"
                   class="form-control"
                   id="inputEmail" name="email" th:value="${#authentication.getName()}"
                   th:placeholder="${#authentication.getName()}" autocomplete="email" readonly>
            <label for="inputEmail" class="form-label">Email address</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="password"
                   th:class="'form-control' + ${resultDanger != null && #strings.contains(resultDanger.toLowerCase(), 'existing') ? ' is-invalid' : ''}"
                   id="inputExistingPassword" name="existingPassword"
                   placeholder="Existing Password" required autofocus
                   autocomplete="password">
            <label for="inputExistingPassword" class="form-label">Existing Password</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="password"
                   th:class="'form-control' + ${resultDanger != null && #strings.contains(resultDanger.toLowerCase(), 'new') ? ' is-invalid' : ''}"
                   id="inputNewPassword1" name="newPassword1" placeholder="New Password" required
                   autocomplete="new-password">
            <label for="inputNewPassword1" class="form-label">New Password</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="password"
                   th:class="'form-control' + ${resultDanger != null && #strings.contains(resultDanger.toLowerCase(), 'new') ? ' is-invalid' : ''}"
                   id="inputNewPassword2" name="newPassword2" placeholder="New Password Again"
                   required
                   autocomplete="new-password">
            <label for="inputNewPassword2" class="form-label">New Password Again</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
</main>

<footer th:replace="~{fragments/base :: footer}"></footer>
</body>
</html>