<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head th:replace="~{fragments/base :: head('Sporty Shoes Shop - Orders')}"></head>
<body class="text-bg-light">
<header th:replace="~{fragments/base :: header('Sporty Shoes Shop - Orders')}"></header>

<main>
  <div class="container ">
    <div
        th:replace="~{fragments/base :: alerts(${resultSuccess}, ${resultDanger}, ${resultInfo})}"></div>
    <div class="alert alert-primary" role="alert" th:if="${allOrders.isEmpty()}">
      There are no orders.
    </div>
    <hr th:unless="${allOrders.isEmpty()}">
    <div class="accordion" id="ordersAccordion">
      <div class="accordion-item" th:each="o:${allOrders}">
        <h2 class="accordion-header">
          <button th:if="${oStat.index == 0}"
                  class="accordion-button" type="button" data-bs-toggle="collapse"
                  th:data-bs-target="'#collapse' + ${o.getId()}" aria-expanded="true"
                  th:aria-controls="'collapse' + ${o.getId()}"
                  th:text="'Order #' + ${o.getId()} + ' on ' + ${#temporals.format(o.getCreated(), 'dd MMM yyyy HH:MM:SS')} + ' to ' + ${o.getAddress()}">
          </button>
          <button th:unless="${oStat.index == 0}"
                  class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  th:data-bs-target="'#collapse' + ${o.getId()}" aria-expanded="false"
                  th:aria-controls="'collapse' + ${o.getId()}"
                  th:text="'Order #' + ${o.getId()} + ' on ' + ${#temporals.format(o.getCreated(), 'dd MMM yyyy HH:MM:SS')} + ' to ' + ${o.getAddress()}">
          </button>
        </h2>
        <div th:id="'collapse' + ${o.getId()}"
             th:class="'accordion-collapse collapse' + ${oStat.index == 0 ? ' show' : ''}"
             data-bs-parent="#ordersAccordion">
          <div class="accordion-body">
            <div class="row row-cols-1 row-cols-md-5 g-4">
              <div class="col" th:each="p:${o.getProducts()}">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title" th:text="${p.getName()}"></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"
                        th:text="${#numbers.formatCurrency(p.getPrice())}"></h6>
                  </div>
                </div>
              </div>
            </div>
            <p class="mt-3"
               th:text="'Total cost: ' + ${#numbers.formatCurrency(o.getTotalCost())}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer th:replace="~{fragments/base :: footer}"></footer>
</body>
</html>