<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head th:replace="fragments/base :: head('Sporty Shoes Shop')"></head>
<body class="text-bg-light">
<div class="container">
  <header th:replace="fragments/base :: header('Sporty Shoes Shop')"></header>

  <main>
    <div
        th:replace="fragments/base :: alerts(${resultSuccess}, ${resultDanger}, ${resultInfo})"></div>
    <div class="alert alert-primary" role="alert" th:if="${allProducts.isEmpty()}">
      There are no products.
    </div>
    <hr th:unless="${allProducts.isEmpty()}">
    <form th:action="@{order}" th:method="post">
      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col" th:each="p:${allProducts}">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title" th:text="${p.getName()}"></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary"
                  th:text="${#numbers.formatCurrency(p.getPrice())}"></h6>
              <p class="card-text" th:text="${p.getDescription()}"></p>
            </div>
            <div class="card-footer">
              <div class="input-group" th:if="${p.getStock() > 0}">
                <span class="input-group-text"
                      th:id="'product-input-label-' + ${p.getId()}">Buy</span>
                <input type="number" class="form-control" min="0" step="1" value="0"
                       th:name="'product-input-' + ${p.getId()}" th:max="${p.getStock()}"
                       aria-label="Buy" th:aria-describedby="'product-input-label-' + ${p.getId()}">
              </div>
              <span th:unless="${p.getStock() > 0}">Out of stock</span>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg mt-3">Order</button>
    </form>
    <br><br>
  </main>

  <footer th:replace="fragments/base :: footer"></footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>