<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{fragments/base :: head('Sporty Shoes Shop')}"></head>
<body class="text-bg-light">
<header th:replace="~{fragments/base :: header('Sporty Shoes Shop')}"></header>
<script>
  function filterProducts() {

    // get the filter values and the rows
    const category = document.getElementById('productCategory').value;
    const search = document.getElementById('searchInput').value.toLowerCase();
    const cards = document.getElementById('allProducts').getElementsByClassName('col');
    let count = 0;
    for (let i = 0; i < cards.length; i++) {

      // Get the display value, and keep partially visible if quantity > 0
      const categoryValue = cards[i].getAttribute('data-category');
      const searchValue = cards[i].getAttribute('data-search');
      const quantity = parseInt(cards[i].getElementsByClassName('form-control')[0].value);
      let display;
      if ((category === 'none' || category === categoryValue)
          && (search === '' || searchValue.includes(search))) {
        cards[i].getElementsByClassName('card')[0].classList.remove('opacity-50');
        display = '';
        count++;
      } else {
        if (quantity > 0) {
          cards[i].getElementsByClassName('card')[0].classList.add('opacity-50');
        } else {
          display = 'none';
        }
      }

      // Add a green border if quantity > 0
      if (quantity > 0) {
        cards[i].getElementsByClassName('card')[0].classList.add('border-success', 'border-2');
        cards[i].getElementsByClassName('form-control')[0].classList.add('border-success',
            'border-2');
      } else {
        cards[i].getElementsByClassName('card')[0].classList.remove('border-success', 'border-2');
        cards[i].getElementsByClassName('form-control')[0].classList.remove('border-success',
            'border-2');
      }

      // Apply the display value
      cards[i].style.display = display;
    }
  }
</script>

  <main>
    <div class="container ">
    <div
        th:replace="~{fragments/base :: alerts(${resultSuccess}, ${resultDanger}, ${resultInfo})}"></div>
    <hr th:unless="${allProducts.isEmpty()}">
      <div class="col">
        <div class="row" th:unless="${allProducts.isEmpty()}">
          <div class="col">
            <div class="form-floating">
              <input id="searchInput" type="text" class="form-control"
                     placeholder="Search for products..."
                     aria-label="Search"
                     onkeyup="filterProducts()" autofocus>
              <label for="searchInput">Search for products...</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="productCategory" aria-label="Product Category"
                      onchange="filterProducts()">
                <option value="none" selected>All</option>
                <option th:each="c:${allCategories}" th:value="${c.getName()}"
                        th:text="${c.getName()}"></option>
              </select>
              <label for="productCategory">Product Category</label>
            </div>
          </div>
        </div>
      <form th:action="@{order}" th:method="post" th:unless="${allProducts.isEmpty()}">
        <div class="row row-cols-1 row-cols-lg-3 m-4 g-4" id="allProducts">

          <div class="col" th:each="p:${allProducts}"
               th:data-category="${p.getCategory() != null ? p.getCategory().getName() : ''}"
               th:data-search="${p.getName().toLowerCase()} + ' ' + ${p.getDescription().toLowerCase()}">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title" th:text="${p.getName()}"></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                <span class="badge text-bg-secondary" th:if="${p.getCategory() != null}"
                      th:text="${p.getCategory().getName()}"></span>
              </h6>
              <p class="card-text" th:text="${p.getDescription()}"></p>
            </div>
            <div class="card-footer">
              <div class="input-group" th:if="${p.getStock() > 0}">
                <span class="input-group-text"
                      th:id="'product-input-label-' + ${p.getId()}"
                      th:text="'Buy for ' + ${#numbers.formatCurrency(p.getPrice())}">Buy</span>
                <input type="number" class="form-control" min="0" step="1" value="0"
                       th:name="'product-input-' + ${p.getId()}" th:max="${p.getStock()}"
                       aria-label="Buy" th:aria-describedby="'product-input-label-' + ${p.getId()}"
                       autocomplete="off" onchange="filterProducts()">
              </div>
              <input th:unless="${p.getStock() > 0}" type="hidden" class="form-control" value="0"
                     disabled>
              <span th:unless="${p.getStock() > 0}">Out of stock</span>
            </div>
          </div>
        </div>
      </div>
      <div class="input-group mt-4 mb-2">
        <span class="input-group-text" id="address-label">Address</span>
        <input type="text" name="address" class="form-control" placeholder="Full delivery address"
               aria-label="Full delivery address" aria-describedby="address-label" maxlength="990"
               required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg mt-3">Order</button>
    </form>
      </div>
    </div>
  </main>

<footer th:replace="~{fragments/base :: footer}"></footer>
</body>
</html>